<div class="page-header">
  <h1><%= DeviceType.model_name.human  %></h1>
</div>

<div class="table-responsive">
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <%= link_to (fa_icon 'list', :text => t_title(:index)), device_types_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to (fa_icon 'eye', :text => t_title(:show)), device_type_path(@device_type), :class => 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to (fa_icon 'edit', :text => t_title(:edit)), edit_device_type_path(@device_type), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to (fa_icon 'trash', :text => t_title(:delete)), device_type_path(@device_type), :class => 'nav-link ', method: :delete, data: { confirm: t_confirm_delete(@device_type) } %>
    </li>
    <li class="nav-item">
      <%= link_to (fa_icon 'plus', :text => t_title(:new)), new_device_type_path, :class => 'nav-link' %>
    </li>
  </ul>
  <table class="table table-striped table-sm">
      <tr>
        <th><%= t_attr(:title) %></th>
        <td><%=  @device_type.title %></td>
      </tr>
  </table>
</div>