<div class="page-header">
  <h1><%%= <%= singular_table_name.camelize %>.model_name.human  %></h1>
</div>

<div class="table-responsive">
  <%%= render '/common/index_submenu' %>
  <%%= render '/common/searchbar' %>

  <table class="table table-striped table-hover table-sm table-list ">
    <thead>
      <tr>
<% attributes.each do |attribute| -%>
        <th><%%= t_attr(:<%= attribute.name %>) %></th>
<% end -%>
        <th class="action"></th>
        <th class="action"></th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name%>.each do |<%= singular_table_name %>| %>
       <tr>
<% attributes.each do |attribute| -%>
          <td><%%= <%= snippet_show_attribute(singular_table_name, attribute) %> %></td>
<% end -%>

          <td class="action">
            <%%= link_to <%= singular_table_name %>_path(<%= singular_table_name %>), :title => t_title(:show), :class => 'btn btn-sm btn-outline-info' do %><i class="far fa-eye"></i><%% end %>
          </td>

          <td class="action">
            <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :title => t_title(:edit), :class => 'btn btn-sm btn-outline-warning' do %>
              <i class="far fa-edit"></i>
            <%% end %>
          </td>

          <td class="action">
            <%%= link_to <%= singular_table_name %>_path(<%= singular_table_name %>), :title => t_title(:delete),  :class => 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: t_confirm_delete(<%= singular_table_name %>) } do %>
              <i class="far fa-trash-alt"></i>
            <%% end %>
          </td>
        <%% end %>
      </tr>
    </tbody>
  </table>
  <%%= paginate(@<%= plural_table_name %>) %>
</div>