<div class="page-header">
  <h1><%%= <%= singular_table_name.camelize %>.model_name.human  %></h1>
</div>

<div class="table-responsive">
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <%%= link_to (fa_icon 'list', :text => t_title(:index)), <%= plural_table_name %>_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'eye', :text => t_title(:show)), <%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'edit', :text => t_title(:edit)), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'trash', :text => t_title(:delete)), <%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link ', method: :delete, data: { confirm: t_confirm_delete(@<%= singular_table_name %>) } %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'plus', :text => t_title(:new)), new_<%= singular_table_name %>_path, :class => 'nav-link' %>
    </li>
  </ul>
  <table class="table table-striped table-sm">
    <%- attributes.each do |attribute| -%>
      <tr>
        <th><%%= t_attr(:<%= attribute.name %>) %></th>
        <td><%%=  <%= snippet_show_attribute('@' + singular_table_name, attribute) %> %></td>
      </tr>
    <%- end -%>
  </table>
</div>