<div class="page-header">
  <h1><%= plural_table_name.capitalize %></h1>
</div>

<div class="table-responsive">
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <%%= link_to (fa_icon 'list', :text => 'List'), <%= plural_table_name %>_path, :class => 'nav-link' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'eye', :text => 'Show Details'), <%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'edit', :text => 'Edit <%= singular_table_name %>'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link ' %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'trash', :text => 'Delete <%= singular_table_name %>'), <%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'nav-link ', method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <li class="nav-item">
      <%%= link_to (fa_icon 'plus', :text => 'Add new <%= human_name %>'), new_<%= singular_table_name %>_path, :class => 'nav-link' %>
    </li>
  </ul>
  <table class="table table-striped table-sm">
    <%- attributes.each do |attribute| -%>
      <tr>
        <td><%= attribute.human_name %>:</td>
        <td><%%=  <%= snippet_show_attribute('@' + singular_table_name, attribute) %> %></td>
      </tr>
    <%- end -%>
  </table>
</div>