<ul class="nav flex-column">
  <li class="nav-item">
    <%=  link_to (fa_icon 'home', :text => 'Home'), '#', :class => 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'file', :text => 'Files'), '#', :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'file', :text => 'Files'), '#', :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'file', :text => 'Files'), '#', :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'file', :text => 'Files'), '#', :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'users', :text => 'Users'), '#', :class => 'nav-link' %>
  </li>
</ul>