<ul class="nav nav-tabs justify-content-end" id="actions-tab">

  <li class="nav-item">
    <%= link_to (fa_icon 'list', :text => t_title(:index)), items_path, :class => "nav-link #{'active' if (!params[:q].present?)}" %>
  </li>

  <li class="nav-item">
    <a href="#search-bar" class="nav-link search-tab <%= 'active' if params[:q].present? %>" data-toggle="tab"><%= fa_icon 'search' %> <%= t_action :search %> </a>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'plus', :text => t_title(:new) ), new_item_path, :class => 'nav-link' %>
  </li>
</ul>
<%= params.inspect %>

