<div class="page-header">
  <h1><%= Place.model_name.human  %></h1>
</div>

<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <%= link_to (fa_icon 'list', :text => t_title(:index)), places_path, :class => 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'eye', :text => t_title(:show)), place_path(@place), :class => 'nav-link ' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'edit', :text => t_title(:edit)), edit_place_path(@place), :class => 'nav-link active ' %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'trash', :text => t_title(:delete)), place_path(@place), :class => 'nav-link ', method: :delete, data: { confirm: t_confirm_delete(@place) } %>
  </li>
  <li class="nav-item">
    <%= link_to (fa_icon 'plus', :text => t_title(:new)), new_place_path, :class => 'nav-link' %>
  </li>
</ul>

<%= render 'form' %>

